<!-- #region Slider -->
<div id="home">
    <div class="slider">
        <div id="about-slider">
            <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators visible-xs">
                    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-slider" data-slide-to="1"></li>
                    <li data-target="#carousel-slider" data-slide-to="2"></li>
                    <li data-target="#carousel-slider" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">


                    <div class="item active" align="center">
                        <img src="images/10.png" class="img-responsive" alt="">
                    </div>
                    <div class="item" align="center">
                        <img src="images/11.png" class="img-responsive" alt="">
                    </div>

                    <div class="item" align="center">
                        <img src="images/12.png" class="img-responsive" alt="">
                    </div>
                    <div class="item" align="center">
                        <img src="images/13.png" class="img-responsive" alt="">
                    </div>

                    @*<div class="item text" align="center">
                        <img src="https://via.placeholder.com/1368x642" class="img-responsive" alt="">
                    </div>*@
                </div>

                <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>

                <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div> <!--/#carousel-slider-->
        </div><!--/#about-slider-->
    </div>
</div>
<!-- #endregion -->